# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
# Not supported yet by EditorConfig VSCode extension https://github.com/editorconfig/editorconfig-vscode/issues/272
# Safe upper limit (for example: long URLs) because only developers can wrap lines where it makes sense
# A tab has length of 1 in editorconfig-checker
max_line_length = 200

[*.json]
insert_final_newline = false

[*.yml]
indent_size = 2
indent_style = space

# Keep original LICENSE formatting
[LICENSE]
indent_style = space
indent_size = 2
