# Some of the HTML tests files don't have a .HTML extension and therefore aren't considered HTML
#pester/web/downloads.khinsider.com/** linguist-language=HTML # linguist-language force include in stats even with -linguist-detectable
